<p>navbar works!</p>
<!-- *ngFor="let rou_ of myRoutes" -->
<div
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
  "
>
  <!-- NOTE   -->
  <!-- lavorando con le rotte del ROUTERLINK NON, NON SERVONO gli `href` -->
  <!-- la direttiva si deve chiamare routerLink, e non routerlink -->
  <!-- SOLO path relativi, definiti nei `Routes`, senza `./`-->
  <a routerLink="footer">Footer</a>
  <a routerLink="header">Header</a>
  <a routerLink="home">Home</a>
</div>
